body{
  background-color: rgb(230, 230, 230);
  margin: 0;
}

/* Estilos para  la galeria */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  margin-top: 50px;
  padding: 20px;
  grid-gap: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*esta propiedad permite que la imagen no se distorcione */
  cursor: pointer;
}

.gallery-img:hover {
  transform: scale(1.15);
  transition: 1s;
}

@media (min-width:768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width:1024px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 40px;
    grid-gap: 20px;
  }
}